.input-data {
    height: 40px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.input-data input {
    padding: 6px;
}

table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    gap: 30px;
    /* border: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pop-up input {
    padding: 6px;
}